html {
    font-family: "Times New Roman" ;
    color:rgb(192, 192, 192);
}
body {
    background-color: rgb(66, 67, 70);
    margin:0;
}
p{
    font-size: 1rem;
}
.name{
    background-color: rgb(119, 119, 119);
    font-weight: 900;
}
.bll{
    color: cadetblue;
}

#header {
    background-image: url(https://www.shutterstock.com/image-photo/rubble-ruin-brick-building-wall-600nw-2178065665.jpg);
    background-size: cover;
    height: 50%;
    color: rgb(45, 47, 53);
    font-size: 2rem;
    border-radius: 1rem 1rem 1rem;

    display: flex;
    align-items: left; 
    flex-direction: column; 
    padding-bottom: 50%;
}

.navbar {
    background-color: rgb(201, 124, 89);
    display: flex;
    justify-content:center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 5em;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: 0.5S;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}
.nav-links li a:hover {
    background-color: bisque;
}

.title {
    text-align: center;
    padding: 1em;
}

.current {
    text-decoration: underline dotted rgb(255, 0, 0);
}

.accordion-header {
    width: 100%;
    background-color: black;
    border: none;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    transition: 0.8s;
}


.accordion-header:hover {
    background-color: blueviolet;
}

.accordion-content {
    display: none;
}



.blog-entry {
    display: flex;
    align-items: center;
    gap: 2em;
    padding-right: 2%;
    margin-bottom: 2em;
}

.hidden {
    display: none;
}

.blog-entry img {
    width: 40%;
    border-radius: 0 1.5em 1.5em 0;
}

#enter-password {
    text-align: center;
}

#enter-password input{
    font-size: 1.5rem;
    border-radius: 0.5em;
    border: 0;
    padding: 0.2em;
    width: 40%;
}

#enter-password button {
    font-size: 1.3rem;
    padding: 0.3em;
    border-radius: 0.5em;
    width: 7%;
    border: 0;
    background-color: brown;
    color: rgb(175, 147, 109);
}

#password-field {
    display: flex;
    justify-content: center;
    gap: 1em;
}